nav {
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 10px;
}

nav ul li:hover {
  background-color: #333;
}

nav ul li:hover a {
  color: lightblue;
}

/* header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin-top: 20px;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li::before {
  content: "•";
  color: #333;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
*/
